.node {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
}



.node-finish {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: yellow;
}
.node-start {
  background-color: green;
}

.node-shortest-path {
  background-color: blue;
}
